# Virtuelle Umgebung
.venv/

# YOLO Trainings-Ergebnisse (wird oft sehr groß)
runs/

# Deine Datensätze: Alles in datasets/ ignorieren...
datasets/*
# ... außer dem Ordner mit den Bildern für die Anwendung
!datasets/application_images_dataset/

hailo_calibration/

# Große Model-Dateien (auch in Unterordnern)
*.pt
*.onnx
*.engine

# Temporäre Dateien
__pycache__/
.ipynb_checkpoints/

#claude files
.claude/